@import './tailwind.css';

@font-face {
  font-family: 'Big Shoulders Inline Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(http://blog.chrisying.cn/font.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(http://blog.chrisying.cn/font2.woff2) format('woff2');
}

html {
  // width: 1500px;
  // overflow: hidden;
  // font-size: 10px;

  &::-webkit-scrollbar {
    display: none;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  // font-family: cus;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  // color: #2c3e50;
  // margin-top: 60px;
  overflow: hidden;
}
.ft{
  font-family: 'Big Shoulders Inline Display';
}
.ft2{
  font-family: 'Montserrat';
}